.big-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  height:400px;
}

.counter {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.counter div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  padding: 0px;
  margin: 0px;
  font-size: 25px;
  color: white;
  font-weight: 500;
  border-color: rgba(255, 255, 255, 0.05);
  border-style: solid;
  margin-left: -1px;
}

